.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: red;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.heading {
  color: red;
  font-weight: bold;
}
